{% extends 'blogs/base.html' %}

{% block main_content %}

<div class="media">
    <img src="https://loremflickr.com/200/200/" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">제품 판매 사이트</h5>
        <p> 사이트에 오신 것을 환영합니다. </p>
        <p>dummy text -
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet, at atque cupiditate delectus dignissimos
            doloremque et facere illum laudantium mollitia nobis officiis quibusdam quis, repellendus sequi sint, unde
            voluptatem.
        </p>
    </div>
</div>
<hr>





{% endblock %}


