{% extends 'blogs/base_product.html' %}

{% block main_content %}
<h2> Product List</h2>

<div class="media">
    <div class="media-body">


        {% for p in product_list %}
        <div>
            <div class="media border border-primary d-inline-block-flex p-2">
                <img src="https://picsum.photos/seed/{{p.pk}}/100/100" class="align-self-center mr-3"
                     alt="random image">
                <div class="media-body">
                    <h4 class="mt-0">{{ p.name }}</h4>
                    <p class="mb-1">{{ p.description }}</p>
                    <span class="mb-1">{{ p.price }} 원</span>
                    <!-- 아래 버튼은 로그인 되어 있는 상태에만 보임 -->
                    {% if user.is_authenticated %} <!-- user가 로그인되어있다면 -->
                    <a class="btn btn-outline-primary btn-sm" href="/final4/product/{{p.pk}}/"><small>구매하기</small></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0"/>
            <ul class="pagination justify-content-center my-4">

                <!-- 1.previous -->
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><- Newer</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true"><- Newer</a></li>
                {% endif %}

                <!-- 2.page number -->
                {% for i in paginator.page_range %}
                {% if i == page_obj.number %} <!-- 번호랑 똑같으면 비활성화 시키기 -->
                <li class="page-item active"><a class="page-link" href="#!">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

                <!-- 3.has_next -->
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older -></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Older -></a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}


    </div>
</div>
<hr>

{% endblock %}


