{% extends 'blog/base.html' %}

    {% block main_content %}

    {% if user.is_authenticated %} <!-- user가 로그인되어있다면 -->
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;New Post
            </a>
        {% endif %}
    {% endif %}

                <h1>Blog
                    {% if search_info %}<small class="text-muted">{{search_info}}</small>{% endif %}
                    {% if category %}<span class="badge badge-secondary"> {{ category }} </span>
                    {% endif %}
                </h1>

            {% if post_list.exists %}
                {% for p in post_list %}
                <!-- Blog post-->
                <div class="card mb-4" id="post-{{ p.pk }}">
                    {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" title="{{p}} head image" height="300"/>
                    {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.pk }}/800/200" title="random image" height="300"/>
                    {% endif %}

                    <div class="card-body">

                        {% if p.category %}
                            <span class="badge badge-secondary float-right"> {{ p.category }} </span>
                        {% else %}
                            <span class="badge badge-secondary float-right">미분류</span>
                        {% endif %}

                      <div class="small text-muted">
                          {{ p.created_at }} {{ p.author }}
                      </div> <!--  작성된 날-->

                        <h2 class="card-title h4">{{p.title}}</h2>
                        {% if p.hook_text %}
                        <h5 class="small text-muted"> {{ p.hook_text }}</h5>
                        {% endif %}

                        <p class="card-text">{{ p.content | linebreaksbr | truncatewords:3 }}</p> <!-- chars, words 이렇게 2개 있음-->

                        <!--tag area-->
                        {% if p.tags.exists %}
                            <i class = "fas fa-tags"></i>
                            {% for tag in p.tags.all %}
                                <span class="badge badge-pill badge-light">{{ tag }}</span>
                            {% endfor %}
                        <br /><br />
                        {% endif %}

                        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ p.created_at }} by
                        <a href="#"> {{ p.author | upper }}</a>
                    </div>

                </div>
                {% endfor %}
            {% else %}
                <h2>아직 게시물이 없습니다.</h2>
            {% endif %}

            <!-- paginator, page_obj -->
            <!-- page_obj.number ==> 현재페이지임 / page_obj.privious_page_number / page_obj.next_page_number -->
            <!-- paginator.page_range  페이지를 range로 1~5까지 어디인지 알려줌-->
            <!-- paginator, page_obj paginate를 도와주는것. -->
            <!-- paginator.page_range:페이지 길이 알려줌 / page_obj.nmumber: 현재 번호 / page_obj.previous_page_number: 이전번호 -->

            {% if is_paginated %}
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">

                        <!-- 1.previous -->
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><- Newer</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true"><- Newer</a></li>
                        {% endif %}

<!--                        &lt;!&ndash; 2.page number &ndash;&gt;-->
<!--                            {% for i in paginator.page_range %}-->
<!--                                <a>{{ i }}</a>-->
<!--                            {% endfor %}-->

                        <!-- 2.page number -->
                        {% for i in paginator.page_range %}
                            {% if i == page_obj.number %} <!-- 번호랑 똑같으면 비활성화 시키기 -->
                                <li class="page-item active"><a class="page-link" href="#!">{{i}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                        {% endfor %}

                        <!-- 3.has_next -->
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older -></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Older -></a></li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}

{% endblock %}