 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{post.title}} - blog</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a> ||
        <a href="/blog">Blog List</a>
    </nav>
    <h2>{{post.title}}</h2>
    {% if post.head_image %}
    <img src="{{ post.head_image.url }}" height="300" title="{{ post }} head image" />
    {% else %}
    <img src="https://picsum.photos/seed/{{ post.pk }}/800/200" height="300" title="random image" />
    {% endif %}

    <p>{{ post.created_at }}</p>

    {% if post.hook_text %}
    <h5>{{ post.hook_text }}</h5>
    {% endif %}

    <p>{{ post.content }}</p>

    <!-- file download -->
    <!-- 파일 업로드가 있다면 -->
    {% if post.file_upload %}
    <a href="{{ post.fileupload.url }}" download><button>file download</button></a>
    {% else %}
    <div> 첨부없음 </div>
    {% endif %}
    <hr/>
    <p>댓글 추가 위치</p>
</body>
</html>